/*
Neon green: #64fa0a
Medium neon green: #5ce009
Darker green: #327105
 */

body {
    /*font-family: 'Poppins', sans-serif;*/
    color: #5a5a5a;
}
p {
    line-height: 1.7em;
}

/*--------------------------HEADER STYLES--------------------------*/
header {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 1.5rem;
    text-align: center;
}
header h2 {
    line-height: 100px;
}

/*--------------------------NAVIGATION STYLES--------------------------*/
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar {
    background: #64fa0a;
    height: 100vh;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #5ce009;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #5ce009;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #64fa0a;
    background-color: #327105;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/*--------------------------FOOTER STYLES--------------------------*/
.footer {
    border-top: 1px solid #e3e3e3;
    padding: 15px;
    text-align: center;
}