/*
Neon green: #64fa0a
Medium neon green: #5ce009
Darker green: #327105
 */

body {
    /*font-family: 'Poppins', sans-serif;*/
    color: #5a5a5a;
}
p {
    line-height: 1.7em;
}

nav a:hover, nav .active {
    background-color: #327a05;
    /*color: #404040;*/
    color: #64fa0a
}

a.btn {
    cursor: default;
}

/*.alert {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/
#flash-message {
    animation: flash-message 10s forwards;
    bottom: 80px;
    position: absolute;
    right: 20px;
    z-index: 10;
}
@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}

/*--------------------------HEADER STYLES--------------------------*/
header {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 1.5rem;
    text-align: center;
}
header h2 {
    line-height: 100px;
}

/*--------------------------NAVIGATION STYLES--------------------------*/
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar {
    background: #64fa0a;
    height: 100vh;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #5ce009;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #5ce009;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #64fa0a;
    background-color: #327105;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/*--------------------------FOOTER STYLES--------------------------*/
.footer {
    border-top: 1px solid #e3e3e3;
    padding: 15px;
    text-align: center;
}

/*--------------------------ADMIN LOGIN STYLES--------------------------*/
#login {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 330px;
    /*padding-bottom: 40px;*/
    /*background-color: #eee;*/
}
.form-signin {
    /*max-width: 330px;*/
    padding: 15px;
    /*margin: 0 auto;*/
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*--------------------------CONTENT STYLES--------------------------*/
.controls {
    margin-bottom: 2rem;
}